@import url(normolize.css);
@mixin bg-image($url, $pos: center, $repeat: no-repeat, $size: cover) {
    background-image: url(img-path($url));
    background-position: $pos;
    background-repeat: $repeat;
    background-size: $size;
}
@function img-path($name) {
    @return "../src/utils/#{$name}";
}
@mixin flex {
    display: flex; 
    @content;
} 
.d-none {
    display: none;
}
* {
    box-sizing: border-box;
}
.header {
    max-width: 1920px;
    padding: 0 75px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    @include flex() {
        align-items: center;
        justify-content: space-between;
    }
    min-height: 100px;
    .header__logo {
        @include bg-image("header__logo.svg");
        min-width: 225px;
        min-height: 72px;
    }
    .header__search {
        @include bg-image("header__search.svg");
        min-width: 24px;
        min-height: 24px;
        cursor: pointer;
    } 
    .nav {
        @include flex() {
            flex-wrap: nowrap;
            gap: 80px;
        }
    }
    .nav-list {
        padding: 0;
        margin: 0;
        list-style: none;
        @include flex() {
            justify-content: space-around;
            flex-wrap: nowrap;
            gap: 80px;
        }
        .nav-list__item {
            font-size: 18px;
            font-weight: 500;
        }
        a {
            text-decoration: none;
            color: black;
            
        }
        
    }
}
.main {
    max-width: 1920px;
    padding: 0 75px;
    .hero {
        .swiper {
            width: 100%;
            height: 620px;
            .swiper-slide {
                border-radius: 32px;
            }
        }
        @for $i from 1 through 3 {
            .swiper-slide:nth-child(#{$i}) {
                @include bg-image("hero__img#{$i}.png")
            }
        }
    }
}

.burger {
    padding-top: 100px;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 75px;
    position: absolute;
    width: 35%;
    border-right: 2px solid rgba(128, 128, 128, 0.5);
    .burger-nav {
        @include flex() {
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
        }
        .burger-nav__item {
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
.burger-btn {
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    .burger-btn__line {
        user-select: none;
        width: 100%;
        height: 3px;
        background-color: black;
    }
}
.opened {
    justify-content: center;
    align-items: center;
    .burger-btn__line:nth-last-child(1) {
        display: none;
    }
    .burger-btn__line:first-child {
        transform: rotate(45deg) translateY(2px);
    }
    .burger-btn__line:nth-child(2) {
        transform: rotate(135deg);
    }
}